<h1>Listing words_pages</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Word</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words_pages.each do |words_page| %>
  <tr>
    <td><%= words_page.page_id %></td>
    <td><%= words_page.word_id %></td>
    <td><%= link_to 'Show', words_page %></td>
    <td><%= link_to 'Edit', edit_words_page_path(words_page) %></td>
    <td><%= link_to 'Destroy', words_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Words page', new_words_page_path %>
